.mv{
    background-color: yellow;
    padding: 1vw;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.mission{
    background-color: orange;
    width: 46vw;
    padding: 0.5vw;
    font-size: 4.17vw;
    height: 72.5vw;
}

.vision{
    background-color: orange;
    width: 46vw;
    float: right;
    font-size: 4.17vw;
    height: 73vw;
}

.auvid{
    background-color: turquoise;
    padding: 1vw;
}

.auvid video{
    max-height: 40vw;
}

.about_us{
    background-color: yellow;
    width: 46vw;
    float: right;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.2vw;
}

@media screen and (min-width: 480px) {
    .mission{
        font-size: 1.3vw;
        height: auto;
    }
    .vision{
        padding: 0.5vw;
        font-size: 1.3vw;
        height: auto;
    }
    .about_us{
        width: 65vw;
        font-size: 1.5vw;
        padding: 0.7%;
    }

    .auvid video{
        max-height: 25vw;
    }
}