/*CSS for gallery and contact*/

/*contact*/
/*customised for phones*/
.contact{
    background-color: white;
    opacity: 0.9;
    border-radius: 20px;
}

.contact h3{
    text-align: center;
    font-size: 3vw;
    font-family: Arial, Helvetica, sans-serif;
}

.contitleh2 h2{
    font-size: 4.5vw;
    text-align: center;
}

.blur-load{
    background-size: cover;
    width: 80%;
    object-position: center;
    margin-left: auto;
    margin-right: auto;
}

.blur-load-video{
    background-size: cover;
}

/*Basketball and Fitness pics and vids*/
.basketgall{
    background-color: #1e90ff;
    border: 1px solid turquoise;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.basketgall h2{
    font-size: 2vw;
    color: white;
}

/*Football pics and vids*/
.footgall{
    background-color: turquoise;
    border: 1px solid #1e90ff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.footgall h2{
    font-size: 2vw;
}

.gallchoice{
    padding:0.3%;
    text-align: center;
}

.gallchoice button{
    background: turquoise;
    text-align: center;
    border: 2px solid #1e90ff;
    padding: 1vw 3vw;
    outline: none;
    color: white;
    border-radius: 2px;
    transition: 0.25s;
    cursor: pointer;
    font-size: 2.5vw;
}

.gallchoice button:hover{
    background: #1e90ff;
}

/*For bigger screen*/
/*contact*/
@media screen and (min-width: 1000px) {   
    .contact h3{
        font-size: 2vw;
    }

    .contitleh2 h2{
        font-size: 2.7vw;
    }
}

@media screen and (min-width: 480px) {
    .gallchoice button{
        margin: 20px auto;
        padding: 1vw 2vw;
        font-size: 2vw;
    }
}