/*CSS for gallery and contact*/

/*contact*/
/*customised for phones*/
.contact{
    background-color: yellow;
    opacity: 0.9;
    width: 50vw;
}

.contact h3{
    text-align: center;
    font-size: 3vw;
    font-family: Arial, Helvetica, sans-serif;
}

/*Basketball and Fitness pics and vids*/
.basketgall{
    background-color: yellow;
    border: 1px solid turquoise;
    opacity: 0.9;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.basketgall h2{
    font-size: 2vw;
}

/*Football pics and vids*/
.footgall{
    background-color: turquoise;
    border: 1px solid yellow;
    opacity: 0.9;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.footgall h2{
    font-size: 2vw;
}

img{
    padding: 1%;
}

video{
    max-width: 20%;
    max-height: 20%;
    padding: 1%;
}

.gallchoice{
    padding:0.3%;
    text-align: center;
}

.gallchoice button{
    border:0;
    background: turquoise;
    text-align: center;
    border: 2px solid yellow;
    padding: 1vw 3vw;
    outline: none;
    color: white;
    border-radius: 2px;
    transition: 0.25s;
    cursor: pointer;
    font-size: 2.5vw;
}

.gallchoice button:hover{
    background: orange;
}

/*For bigger screen*/
/*contact*/
@media screen and (min-width: 480px) {
    .contact{
        background-color: yellow;
        opacity: 0.9;
        width: 40vw;
    }
    
    .contact h3{
        text-align: center;
        font-size: 2vw;
        font-family: Arial, Helvetica, sans-serif;
    }

    .gallchoice button{
        border:0;
        background: turquoise;
        margin: 20px auto;
        text-align: center;
        border: 2px solid yellow;
        padding: 1vw 2vw;
        outline: none;
        color: white;
        border-radius: 2px;
        transition: 0.25s;
        cursor: pointer;
        font-size: 2vw;
    }
}