/*customised for phones*/
/*home page header*/
.hheaddiv{
    height: auto;
    width:auto;
    background-color: orange;
    text-align: center;
    padding: 1%;
    position: static;
}
.hheaddiv .logo img{
    float: left;
    height: 12vh;
    width: 12vh;
}

.hheaddiv .acad-title h1{
    font-size: 6.5vw;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.hheaddiv .acad-title h3{
    font-size: 3vw;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
}

.hpages{
    padding:0.5%;
    text-align: center;
}

.hpages button{
    background: turquoise;
    margin: 20px auto;
    text-align: center;
    border: 2px solid yellow;
    padding: 3vw 5vw;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    font-size: 3vw;
}

.hpages button:hover{
    background: orange;
}

/*other page header*/
.oheaddiv{
    height: auto;
    width:auto;
    background-color: orange;
    text-align: center;
    padding: 1%;
    position: static;
}
.oheaddiv .logo img{
    float: left;
    height: 25%;
    width: 25%;
}

.oheaddiv .acad-title h1{
    font-size: 6vw;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}

.oheaddiv .acad-title h3{
    font-size: 3vw;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.opages{
    padding:0.3%;
    text-align: right;
}

.opages button{
    background: turquoise;
    text-align: center;
    border: 2px solid yellow;
    padding: 1vw 3vw;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    font-size: 2.5vw;
}

.opages button:hover{
    background: orange;
}

/*Footer*/
footer{
    width: auto;
    background-color: black;
    text-align: center;
}

footer p{
    color: grey;
    padding: 0.5%;
    font-size: 1.5vw;
}

/*For bigger screens*/
/*home page header*/
@media screen and (min-width: 480px) {
    .hheaddiv .logo img{
        float: left;
        height: 13vw;
        width: 13vw;
    }

    .hheaddiv .acad-title h1{
        font-size: 5vw;
    }

    .hpages button{
        padding: 0.5vw 3vw;
        font-size: 3vw;
    }
}

/*other page header*/
@media screen and (min-width: 1000px){
    .oheaddiv .logo img{
        float: left;
        height: 8vw;
        width: 8vw;
    }

    .oheaddiv .acad-title h1{
        font-size: 2.5vw;
        -webkit-text-stroke-width: 0.7px;
    }

    .oheaddiv .acad-title h3{
        font-size: 1.5vw;
    }

    .opages button{
        margin: 20px auto;
        padding: 1vw 3vw;
        font-size: 1.7vw;
    }
}

@media screen and (min-width: 1500px) {
    .opages button{
        padding: 0.1vw 1vw;
        font-size: 1.2vw;
    }

/*Footer*/
    footer p{
        font-size: 1vw;
    }
}